.container{
    width: 100%;
    max-width: 1420px;
    margin: 0 auto;
}

.areaAdd{
    display: flex;
    justify-content: center;
    flex-direction: row;    
    align-items: center;
    gap: 1rem;
}

.flex-1{
    flex: 1;
}

@media screen and (max-width: 600px){
    .areaAdd{
        flex-direction: column;
    }
    
}