# Ignorar todas as pastas __pycache__ em qualquer diretório
**/logo_marista/
**/js/alunos_2025.json
**/.env

# Ignorar arquivos bytecode Python
*.pyc
*.pyo

# Ignorar diretórios de ambientes virtuais
venv/
env/

# Ignorar arquivos específicos de IDEs/editores
.vscode/
.idea/
*.swp

# Ignorar node_modules
**/node_modules

# Ignorar arquivos gerados pelo sistema operacional
.DS_Store
Thumbs.db